.project{
    padding: 0px 30px;
}

.projectCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sectionTitle{
    font-size: 28px;
    color:#f2f2f2;
    font-weight: bold;
}