.welcome{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px 0px;
}

.circleContainer__outline1{
    width: 650px;
    height: 650px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 15px solid #bbbbbb;
    filter: drop-shadow(0px 0px 20px #bbbbbb);
    animation: outilineRight 20s linear infinite;
    position: relative;
}

.circleContainer__outline2{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 15px solid #bbbbbb;
    animation: outilineLeft 15s linear infinite;
    position: relative;
}


.circleContainer__outline3{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 15px solid #bbbbbb;
    animation: outilineRight 10s linear infinite;
    position: relative;
}

.circleContainer__outline4{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 15px solid #bbbbbb;
    animation: outilineLeft 5s linear infinite;
    position: relative;
}


.circle{
    background-color: #83cd29;
    border: 20px solid #83cd29;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px #83cd29);
}

.linkedinButton{
    text-decoration: double;
    border: 3px solid #f2f2f2;
    color: #f2f2f2;
    padding: 10px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.linkedinButton .icon{
    margin: 0px 5px;
}

.linkedinButton:hover{
    background-color: #f2f2f2;
    color: #0a66c2;
}

.githubButton{
    text-decoration: double;
    border: 3px solid #f2f2f2;
    color: #f2f2f2;
    padding: 10px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.githubButton .icon{
    margin: 0px 5px;
}

.githubButton:hover{
    background-color: #f2f2f2;
    color: #353535;
}



@keyframes outilineRight{
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

@keyframes outilineLeft{
    0% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(0deg);
      }
}