.about{
    padding: 0px 30px;
}

.sectionTitle {
    font-size: 28px;
    color: #f2f2f2;
    font-weight: bold;
}

.aboutContent {
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
}

.aboutText {
    max-width: 600px;
}

.aboutText p {
    margin: 15px 0px;
    font-size: 20px;
}

@media(max-width:767px) {
    .aboutContent {
        flex-direction: column-reverse;
        align-items: center;
    }
}