.header{
    position: fixed;
    background-color: #f2f2f217;
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 10px 25px;
    z-index: 99;
    border-bottom: 2px solid #f2f2f2;
}

.navLinks{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.navLink{
    text-decoration: none;
}

.navLink a{
    text-decoration: none;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.navLink a:hover{
color: #83cd29;
}


.navIcon a{
    text-decoration: none;
    color: #83cd29;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

.mobileNav{
    display: none;
}

@media(max-width:767px){
    .desktopNav{
        display: none;
    }
    .mobileNav{
        display: block;
    }
}