.footer{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #020202;
}

.copyright{
    color: #f2f2f2;
}

.copyright a{
    color: #83cd29;
    text-decoration: none;
}

.copyright a:hover{
    text-decoration: underline;
}