@import "react-alice-carousel/lib/alice-carousel.css";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-color: #232323;
}

/* carousel */
.alice-carousel__stage{
  padding: 15px 0px;
}
